*{ 
    margin: 0; 
    padding: 0; 
    font-family: "futura md bt"; 
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box; 

} 
body{
    background-color: white;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}