h1{
    display: flex;
    justify-content: center;
    margin:10px 0px;
}
.btxt1 , .btxt2 , .btxt3{
    display: inline-flex;
    margin: 0px 100px;
    margin-bottom: 12px;
}
.boxcard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxa{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    font-size: 17.5px;
    padding: 10px 100px 8px;
}
@media screen and (max-width:1000px) {
    .btxt1, .btxt2 , .btxt3{
        display: inline-flex;
        margin: 0px auto ;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 10px 70px 8px;
    }
}
@media screen and (max-width:700px) {
    .btxt1, .btxt2 , .btxt3{
        display: inline-flex;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 8px 50px 4px;
    }
}