.tablepg2{
        display: flex;
        align-items: center;
        justify-content: center;
}
.img1pg2{
    margin-top: 25px;
    margin-left: 30px;
    flex-direction: row;
    width: 450px;
    height: 450px;
    border-radius: 20px;
}
.imgcard{
    display:flex;
    flex-direction: row;
}
.card-right{
    margin-top: 25px;
    margin-left: 50px;
    border: 2px solid;
    width: 800px;
    height: 250px;
    border-radius: 20px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
}
/*right-top*/
.r8-top{
    display: inline-flex;
    flex-direction: row;
}
.r8img{
    width: 165px;
    height: 165px;
}
.r8text{
    position: relative;
    margin-top: 4f0px;
    margin-left: 20px;
}
.r8text2{
    margin-left: 20px;
}
.btxt{
    display: inline-flex;
    margin: 0px 80px;
    margin-bottom: 12px;
}
/*right-bottom*/
.r8-bottom{
    display: inline-flex;
    flex-direction: row;
}
.r8img2{
    margin-top: 10px;
    width: 165px;
    height: 165px;
}
.card-right2{
    margin-top: 25px;
    border: 2px solid;
    width: auto;
    height: 190px;
    border-radius: 20px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);    
}
/*Overview*/
.boxcard{
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxa{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    font-size: 17.5px;
    padding: 10px 50px 8px;
}

@media screen and (max-width:1275px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto ;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 10px 60px 8px;
    }
}
@media screen and (max-width:680px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;        
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 8px 20px 0px;
    }
}
.r8btmtext{
    margin-top: 30px;
    margin-left: 30px;
    h3{
        margin-top: 5px;
        margin-left: 60px;
    }
}
/*Responsive for right-card*/
@media screen and (max-width:1275px){
    .r8-top{
        display: inline-flex;
    }
    .card-right{
        margin-top: 25px;
        margin-left: 50px;
        border: 2px solid;
        width: 800px;
        height: 250px;
        border-radius: 20px;
        border-color:#fff;
        background-color:whitesmoke;
    }
    .r8img{
        width: 165px;
        height: 165px;
    }
    .r8text{
        margin-left: 70px;
        display: inline-flex;
        flex-direction: column;
    }
    .r8text2{
        margin-left: 20px;
    }
    .r8img2{
        display: none;
    }
    .card-right2{
        display:inline-flex;
        flex-direction: column;
        border: 0px;
        top: 30px;
        width: auto;
        height: auto;
    }
    .map1{
        margin-top: 20px;
        margin-left: 10px;
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:680px) {
    .r8-top{
        display: inline-flex;
    }
    .img1pg2{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: -10px;
        width: 430px;
        height: 420px;
        border-radius: 20px;
    }
    .imgcard{
        display: grid;
        place-items: center;
    }
    .card-right{
        margin-top: auto;
        margin-left: -10px;
        width: auto;
        height: auto;
        background-color:rgb(219, 207, 207);
    }
    .r8img{
        display: none;
    }
    .r8text{
        text-align: center;
    }
    .r8text2{
        margin: 5px 0px;
        text-align: center;
    }
    .r8img2{
        display: none;
    }
    .card-right2{
        display:inline-flex;
        flex-direction: column;
        border: 0px;
        top: 30px;
        width: 410px;
        height: auto;
    }
    .map1{
        margin-top: 20px;
        margin-left: 10px;
        width: 200px;
        height: 200px;
    }
}