.tablepg2{
        display: flex;
        align-items: center;
        justify-content: center;
}
.img1pg2{
    margin-top: 20px;
    margin-left: 30px;
    flex-direction: row;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.imgcard{
    display: inline-flex;
    flex-direction: row;
}
.imgcard-right{
    margin-top: 50px;
    margin-left: 50px;
}
.btxt{
    display: inline-flex;
    margin: 0px 80px;
    margin-bottom: 12px;
}

/*Overview*/
.boxcard{
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxa{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    font-size: 17.5px;
    padding: 10px 50px 8px;
}
@media screen and (max-width:1275px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto ;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 10px 60px 8px;
    }
}
@media screen and (max-width:680px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;        
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 8px 20px 0px;
    }
}