/*-------------------------------------------opening hours-------------------------------------------*/
.navbar { 
    overflow: hidden;
     }
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown {
    background-color: none;
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000;
    background-color: none;
  }
  .arrow-down {
    display: inline-flex;
    flex-direction: row;
    margin-left: 3px;
    width: 10px;
    height: 10px;
    border: 3px solid #333;
    border-left: 0;
    border-top: 0;  
    transform: rotate(45deg);
}  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.thick-arrow-down {
    width: 25px;
    height: 25px;
    border: 10px solid #333;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
  }
/*---------------------------------------Right-----------------------------------------------*/
.dhph1{
    color: #e47309;
}
.tablepg2{
        display: flex;
        align-items: center;
        justify-content: center;
}
.img1pg2{
    margin-top: 25px;
    margin-left: 30px;
    flex-direction: row;
    width: 450px;
    height: 450px;
    border-radius: 20px;
}
.imgcard{
    display:flex;
    flex-direction: row;
}
.card-right{
    margin-top: 25px;
    margin-left: 50px;
    border: 2px solid;
    width: 800px;
    height: 250px;
    border-radius: 20px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
}
/*-------------------------------------------right-top-------------------------------------------*/
.r8-top{
    display: inline-flex;
    flex-direction: row;
}
.r8img{
    width: 165px;
    height: 165px;
}
.r8text{
    position: relative;
    margin-top: 4f0px;
    margin-left: 20px;
}
.r8text2{
    margin-left: 20px;
}
.btxt{
    display: inline-flex;
    margin: 0px 80px;
    margin-bottom: 12px;
}
/*-------------------------------------------right-bottom-------------------------------------------*/
.r8-bottom{
    display: inline-flex;
    flex-direction: row;
}
.r8img2{
    margin-top: 10px;
    width: 165px;
    height: 165px;
}
.card-right2{
    margin-top: 25px;
    border: 2px solid;
    width: auto;
    height: 190px;
    border-radius: 20px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);    
}
/*----------------------------------------------Overview---------------------------------------------*/
.boxcard{
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxa{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    font-size: 17.5px;
    padding: 10px 50px 8px;
}
/*----------------------------------------Responsive overall--------------------------------------------*/
@media screen and (max-width:1275px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto ;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 10px 60px 8px;
    }
}
@media screen and (max-width:680px) {
    h1{
        display: flex;
        justify-content: center;
        font-size: large;        
    }
    .btxt{
        display: inline-flex;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .boxcard{
        margin: auto;
        width: auto;
    }
    .boxa{
        padding: 8px 20px 0px;
    }
}
/*-----------------------------------------------------------------------------------------------*/
.r8btmtext{
    margin-top: 30px;
    margin-left: 30px;
}
/*----------------------------------Responsive for right-card-------------------------------------*/
@media screen and (max-width:1275px){
    .r8-top{
        display: inline-flex;
    }
    .card-right{
        margin-top: 25px;
        margin-left: auto;
        border: 2px solid;
        width: 800px;
        height: 250px;
        border-radius: 20px;
        border-color:#fff;
        background-color:whitesmoke;
    }
    .r8img{
        width: 165px;
        height: 165px;
        object-fit: fill;
    }
    .r8text{
        margin-left: 70px;
        display: inline-flex;
        flex-direction: column;
    }
    .r8text2{
        margin-left: 20px;
    }
    .r8img2{
        display: none;
    }
    .card-right2{
        display:inline-flex;
        flex-direction: column;
        border: 0px;
        top: 30px;
        width: 165px;
        height: auto;
    }
    .map1{
        padding: 10px;
        margin-left: 10px;
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:1030px){
    .r8-top{
        display: inline-flex;
    }
    .card-right{
        margin-top: 25px;
        margin-left: auto;
        border: 2px solid;
        width: 800px;
        height: 250px;
        border-radius: 20px;
        border-color:#fff;
        background-color:whitesmoke;
    }
    .r8img{
        width: 165px;
        height: 165px;
        object-fit: fill;
    }
    .r8text{
        margin-left: 70px;
        display: inline-flex;
        flex-direction: column;
    }
    .r8text2{
        margin-left: 20px;
    }
    .r8img2{
        display: none;
    }
    .card-right2{
        display:inline-flex;
        flex-direction: column;
        border: 0px;
        top: 30px;
        width: auto;
        height: auto;
    }
    .map1{
        margin-top: 5px;
        width: 200px;
        height: 200px;
        padding: 10px;
    }
}
@media screen and (max-width:680px) {
    .r8-top{
        display: inline-flex;
    }
    .img1pg2{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: -10px;
        width: auto;
        height: 420px;
        border-radius: 20px;
    }
    .imgcard{
        display: grid;
        place-items: center;
    }
    .card-right{
        margin-top: 10px;
        margin-left: -10px;
        width: auto;
        height: auto;
        background-color:rgb(219, 207, 207);
    }
    .r8img{
        font-size: auto;
        display: none;
    }
    .r8text{
        text-align: center;
    }
    .r8text2{
        font-size: medium;
        margin: 13px;
        text-align: center;
    }
    .r8img2{
        display: none;
    }
    .card-right2{
        display:inline-flex;
        flex-direction: column;
        border: 0px;
        top: 30px;
        width: auto;
        height: auto;
    }
    .map1{
        margin-top: 46px;
        width: 150px;
        height: 150px;
        padding:5px;
    }
    .dropdown .dropbtn {
        font-size: small;
        padding: 0px 140px;
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: #000;
        background-color: none;
      } 
      .dropdown-content {
          font-size: small;
          margin: 0px 100px;
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }
}
/*-------------------------------------------Over-card-------------------------------------------*/
.over-card{
    margin-top: 25px;
}
.over-card2{
    margin-top: auto;
    border: 2px solid;
    width: auto;
    height: 450px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);   
}
/* Review */
.over-card3{
    margin-top: auto;
    border: 2px solid;
    width: auto;
    height: 70px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
    
}
/* menu */
.over-card4{
    margin-top: auto;
    border: 2px solid;
    width: auto;
    height: auto;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
    
}
.over-card5{
    margin-top: auto;
    border: 2px solid;
    width: auto;
    height: 400px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
    
}
.over-card6{
    margin-top: auto;
    border: 2px solid;
    width: auto;
    height: 400px;
    border-color:#fff;
    background-color:rgb(219, 207, 207);
    
}

    #menu
    #overview
    #help

    #about{
        border-radius: 10px;
        
    }
    #menu{
        background-color: #fffefe;
    }
    #help{
        margin-top: 4px;
        background-color: blue;
    }
    #review{
        background-color: #f0dff0;
        border-radius: 10px;
    }
    .recbox1 {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        border-radius: 10px;
        width: 100%; 
        height: 400px; 
        background-color: #ebe3eb; 

    }

    .catlog-container{
        margin-top: 29px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:25px;
    }
    .item-container{
        display: flex;
        flex-direction: column;
        gap:2% ;
        margin-top: 2%;
        border: 1px solid;
        width:320px;
        height: 80px;
        border-radius: 6px;
        border-color:#fff;
        background-color:rgb(216, 206, 206);
        display:flex ;

    }
    .item-name{
        justify-content: center;
        margin-top: -60px;
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .price-holder{
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-top: -px;
        margin-left: 130px;
}
.food-img{
    height:80px; 
    width:80px;
    border-radius: 20px;
}
.rating-value{
    font-size: 32px;
    color: #34be34;
    display: inline-block;
    margin-left: 2%;

}
.total-rating{
    color: #333;
    font-size: 27px;
    display: inline-block;

}
@media screen and (max-width:680px) {
    .recbox1{
        display: inline-flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .over-card3{
        height: auto;
    }
}
html{
    scroll-behavior: smooth;
}