*{
      box-sizing: border-box;
}
.card{
      width: 350px;
      height: auto;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color:#fff;
}
.top-bar, .top-info{
      width: auto;
      height: 40px;
      background-color: #000;
      color: white;
      display:block;
      justify-content: center;
      font-size: 25px;
}
h5{
      margin-top: 0px;
      padding: 10px;
      display: flex;
      justify-content: center;
}
.lb1{
      display: inline-flex;
      margin-top: 15px;
      margin-bottom: 0px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calendar {
  margin-top: 15px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  color: black;
  background-color: #ccc;
  border: solid 1px;
}

.cell {
  width: 100%;
  padding: 0.4em 0.8em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell:hover, .cell:focus {
  color:black;
  border-radius: 10px;
  background-color: #Eb9c5c;
}

.cell:empty {
  width: 0;
  padding: 0;
}

.cell--unselectable {
  color: hsl(17, 98%, 50%);
}

.cell--unselectable:hover, .cell--unselectable:focus {
  color: hsl(125, 95%, 23%);
  background-color: transparent;
}

.date-text {
  padding: 1em 0.8em;
  grid-column: 1 / 5;
  justify-self: start;
  display: flex;
  align-items: center;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}